.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* padding: 10px; */
}

.last button {
  margin-bottom: 15px;
}
